.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(15px);
  /* background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6)
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start-prompt {
  text-align: center;
  color: #f4f4f4;
  padding: 30px 20px;
  border-radius: 16px;
  /* background: rgba(0, 0, 0, 0.363); */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  animation: slideUp 0.7s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.start-message {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.start-btn {
  font-size: 18px;
  padding: 12px 40px;
  background: linear-gradient(135deg, #A855F7, #D946EF);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(168, 85, 247, 0.5);
  transition: all 0.3s ease;
}

.start-btn:hover {
  background: linear-gradient(135deg, #9333EA, #C026D3);
  box-shadow: 0 6px 14px rgba(144, 33, 234, 0.6);
  transform: scale(1.05);
}

.start-btn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(144, 33, 234, 0.4);
}